* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}



@font-face {
    font-family: "CustomFont";
    src: url("../fonts/Nunito-Regular.ttf");
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: rgb(223, 223, 223);
    width: 30em;
    height: 15em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(rgb(71, 71, 71), green, blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.alt-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login div {
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: rgb(247, 245, 245);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}

.google {background-image: url("../logo/gmail.png");}

.facebook {background-image: url("../logo/facebook.png");}

input {
    border: none;
    background-color: rgb(255, 255, 255);
    height: 4em;
    width: 90%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;

}

input:focus {
    outline-color: rgb(0, 0, 0);
}

.login-btn {
    width: 40%;
    height: 3em;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover { transform: scale(1.05);}

.text {
    position: relative;
    bottom: -2em;
}

.hide {
    font-size: 0px;
}

.response{
    color: red;
    font-size: 13px;
    margin-top: -20px;
    text-align: left;
}

