@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}


/* for some reason, naming this container properly centers it? */
.container{
    margin: 70px 70px 70px;
	margin-left: auto;
	margin-right: auto;
}

/* Login Page */

.login__LoginInfo p {
	margin: auto auto;
	font-size: 24px;
	padding-left: 4%;
}

.login__LoginInfo li {
	font-size: 18px;
	margin: auto auto;
}

.login__LoginInfo ul {
	list-style: circle;
}

.login__LoginInfo {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.login__loginContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 70%;
	min-width: 494px;
	transform: translate(-50%, -50%);
	background-color: aqua;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login__leftBox {
	width: 50%;
	height: 100%;
	min-width: 494px;
	background-color: #324960;
	margin: auto auto;
	color: white;
	flex: 50%;
}

.login__rightBox {
	width: 50%;
	height: 100%;
	min-width: 494px;
	background-color: white;
	padding-top: 5%;
	flex: 50%;
}

.login__loginForm {
	width: 40%;
	height: 60%;
	padding-top: 10%;
	margin: auto auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}


.login__rightHeading {
	margin: auto auto;
}

.login__leftHeading {
	text-align: left;
	font-size: 44px;
	margin: auto auto;
}

.login__rightHeading {
	text-align: center;
	font-size: 44px;
	color: #324960;
	margin: auto auto;
}

.login__LoginInfo {
	width: 100%;
	height: 70%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;

}

.login__inputEmail {
	width: 100%;
	height: 15%;
	margin-bottom: 5%;
}

.login__inputPass {
	width: 100%;
	height: 15%;
}

.login__inputEmail input {
	width: 100%;
	height: 100%;
	align-self: center;
	text-align: left;
	padding: 2%;
	margin: auto auto;
	text-align: left;
	box-shadow: 3px 3px 3px 0.14px rgba(0, 0, 0, 0.2);
}

.login__inputPass input {
	width: 100%;
	height: 100%;
	align-self: center;
	text-align: left;
	padding: 2%;
	margin: auto auto;
	text-align: left;
	box-shadow: 3px 3px 3px 0.14px rgba(0, 0, 0, 0.2);
}

.login__submitInput {
	width: 100%;
	height: 15%;
	align-self: center;
	text-align: left;
	margin: auto auto;
}

.login__loginForm button {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #324960;
	color: white;
	box-shadow: 1px 1px 3px 0.14px rgba(0, 0, 0, 0.2);
    font-size: 24px;
}

.login__error {
	margin: auto auto;
	color: red;
	font-size: 0.85rem;
}

.login__rentLogo {
	width: 100px;
	height: 50px;
	object-fit: contain;
}

/* Lists Page */

.list__h1{
    font-size: 31px;
	margin: 1em;
	text-align: center;
	font-weight: bold;
}

.list__container{
	width: 100%;
}

.list__input input{
    padding: 1px 1em 1px 1em;
	width: fit-content;
	margin-right: 1em;
	margin-left: 1em;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	float: left;
}

.list__input input:read-only{
    border: none;
	background-color: #575757;
}

.list__add{
    font-weight: 800;
	font-style: normal;
	background-color: green;
	padding: 1px 1em 1px 1em;
	width: fit-content;
	margin-left: 1em;
	margin-right: 1em;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	float: right;
}

.list__delete{
    font-weight: 800;
	font-style: normal;
	background-color: indianred;
	padding: 1px 1px 1px 1px;
	width: auto;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-left: 1em;
	margin-right: 1em;
	float: right;
}

.list__edit{
    font-weight: 800;
	font-style: normal;
	background-color: skyblue;
	padding: 1px 1px 1px 1px;
	width: auto;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-right: 1em;
	float: right;
}

.list__table{
    display: inline-table;
	font-size: 12px;
	font-weight: normal;
	border-collapse: separate;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	width: max-content;
	max-width: max-content;
	white-space: nowrap;
	margin-right: 1em;
	margin-bottom: 1em;
	writing-mode: horizontal-tb;
	background-color: darkgray;
    margin-left: auto;
}

.list__table td,
.list__table th{
	font-weight: 600;
	text-align: justify;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 5px 5px 5px 5px;
}

.list__table td{
    font-size: 12px;
}

.list__table thead{
    color: #ffffff;
	background: #324960;
}

.list__table tr:nth-child(even){
    background: #f8f8f8;
}

.list__input::placeholder{
    color: black;
}

/* New Transactions */

.newtrans__container{
    height: 93vh;
}

.newtrans__rect{
    width: 100%;
    height: 13%;
    background-color:  #E6E6E6;
    align-items: center;
}

.newtrans__rect > ul{
    height: 100%;
    margin-left: 50px;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.newtrans__rect > ul > li{
    float: left;
    height: 100%;
    width: 15%;
}

.newtrans__rect > ul > li > button{
    margin-top: 7%;
    width: 80%;
    height: 70%;
    display: block;
    color: white;
    padding: 10px;
    background-color: #333333;
    border-radius: 20px;
}

.newtrans__rect > ul > li > button:hover{
    background-color: #111111;
}

.newtrans__paymentform{
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    font-size: 150%;
    overflow: auto;
}

.newtrans__paymentform table{
    margin-left: auto;
    margin-right: auto;
}

.newtrans__h1{
    text-align: center;
    font-size: 31px;
    font-weight: bold;
    padding-bottom: 50px;
}

.newtrans__select{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 500px;
    height: 40px;
    background-color: #ececec;
    font-size: 18px;
}

.newtrans__label{
    font-size: 18px;
}

.newtrans__date{
    width: 500px;
    height: 40px;
    font-size: 18px;
    background-color: #ececec;
}

.newtrans__formButton{
    position: relative;
    margin-left: 25%;
    height: 25px;
    width: 50%;
    background-color: #324960;
    color: #E6E6E6;
    font-size: 18px;
}

.newtrans__table{
    margin-left: 8%;
}

.newtrans__table input{
    width: 500px;
    height: 40px;
    background-color: #ececec;
}

.newtrans__faketd{
    width: 145px;
}
/* Transactions Page */

.trans__h2{
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}

.trans__search{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.trans__search table{
    margin-left: auto;
    margin-right: auto;
}

.trans__search tr{
    width: 50px;
}

.trans__input{
    width: 120px;
    box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.2 );
    margin: auto;
    text-align: center; 
}

.trans__container{
    margin: 70px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    margin-left: auto;
    margin-right: auto;
}

.trans__pagination li{
    display: inline;
    float: left;
    width:25px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.2 );
}

.trans__pagination li:hover{
    background-color: rgb(180, 180, 180);
}

.trans__pageselected{
    background-color: rgb(128, 128, 128);
}

.trans__table{
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color:rgba(169, 169, 169, 0.603);
}

.trans__table td, .trans__table td th{
    text-align: center;
    padding: 8px;
}

.trans__table td{
    font-size: 14px;
}

.trans__btn{
    margin-left: 50px;
}


.trans__table thead{
    color: #ffffff;
    background: #324960;
}

.trans__num{
    text-align: left ;
    padding-left: 34px;
}

.trans__table tr:nth-child(even){
    background: #F8F8F8;  
}

.trans__hovNote{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.trans__hovNote .trans__hovNoteText{
    visibility: hidden;
    /*width: 120px;*/
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 5px;
    padding-right: 5px;
    
    top: -5px;
    right: 105%;

   
    position: absolute;
    z-index: 1;
}

.trans__hovNote:hover .trans__hovNoteText{
    visibility: visible;
}


/* Tenants Table */

.ten__h2{
    font-size: 26px;
	margin: 20px 0;
	text-align: center;
	font-weight: bold;
	text-underline-position: below;
}

.ten__table{
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color:rgba(169, 169, 169, 0.603);
    padding-bottom: 50px;
}

.ten__table .ten__edit td{
    background-color: red;
}

.ten__table td,
.ten__table th{
    text-align: center;
    padding: 8px;
}

.ten__table td{
    font-size: 14px;
}

.ten__table thead{
    color: #ffffff;
    background: #324960;
}

.ten__table tr:nth-child(even){
    background: #F8F8F8;  
}

/* import page */

.import__container{
    background-color: white;
    width: 600px;
    height: 300px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    position: relative;
    top: 30%;
    margin: 0 auto;
}

.import__title{
    width: 100%;
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
}

.import__input{
    display: none;
}

.import__display{
    position: absolute;
    background-color: #ececec;
    text-align: center;
    padding: 12px;
    width: 250px;
    margin-left: 28%;
    margin-top: 10%;
}

.import__btn{
    display: flex;
	margin-left: auto;
	margin-right: auto;
    margin-top: 28%;
    color: white;
    background-color: #324960;
    padding: 10px 10px;
	box-shadow: 1px 1px 3px  0.14px rgba(0,0,0,0.2) ;
}

/* calculate page */

.calc__app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }

  .calc__container{
    margin: 30px 70px 70px;
	margin-left: auto;
	margin-right: auto;
    background-color: rgb(255, 255, 255);
}

.calc__h1{
    font-size: 31px;
	margin: 1em;
	text-align: center;
	font-weight: bold;
}
  
.calc__table {
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color:rgba(169, 169, 169, 0.603);
  }
  
 .calc__table th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 12px;
  }

  .calc__table thead{
    color: #ffffff;
    background: #324960;
}

  .calc__input{
    width: 200px;
    height: 25px;
    text-align: center;
    color: black;
    background-color: rgb(184, 184, 184);
  }

  .calc__input::placeholder{
    color: rgb(126, 126, 126);
  }

  .calc__table thead{
    color: #ffffff;
    background: #324960;
    }

    .calc__table tr:nth-child(even){
    background: #F8F8F8;  
    }
  
  
  .calc__form {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    gap: 5px;
  }

  .calc__btn{
    color: white;
    background-color: #324960;
    width: 70px;
    height: 25px;
  }

  .calc__calculatebtn{
    width: 100px;
    color: white;
    background-color: #324960;
    margin-left: 40%;
    margin-top: 10px;
  }
  
  .calc__form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  

  .calc__section{
    display: flex;
    text-align: center;
    margin: auto;
  }
  
  .calc__section h1{
    font-weight: bold;
  }

  /* overview   */

  .GraphContainer {
    max-width: 98%;
    margin: 0 auto;
    display: grid;
    gap: 1%;
    
    
}

.graph {
    border-radius: 25px;
    width: 50vw;
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
.graph > #expvsrev{
  width: 90%;
  margin: auto;
}

  @media (min-width: 1200px) {
    .GraphContainer { grid-template-columns: repeat(2, 1fr); }
    .graph {
    width: 40vw;  
  }
}

.graphTitle {
    
    margin: 20px;
    text-align: center;
	font-size: 32px;
}