@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");


body {
	background: rgba(255, 255, 255);
}

h2 {
	font-size: 49px;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}

/* Table Styles */

.container {
	margin: 70px 70px 70px;
	box-shadow: 5px 35px 50px rgba(0, 0, 0, 0.2);
	margin-left: auto;
	margin-right: auto;
}

.transactions-table {
	font-size: 12px;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	background-color: darkgray;
}

.transactions-table td,
.transactions-table th {
	text-align: center;
	padding: 8px;
}

.transactions-table td {
	font-size: 12px;
}

.transactions-table thead {
	color: #ffffff;
	background: #324960;
}

.transactions-table tr:nth-child(even) {
	background: #f8f8f8;
}

.transactions-table tbody:hover {
	background: gray;
}